.body {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header {
  font-family: Arial, Helvetica, sans-serif;
}

.button-create-post {
  text-align: end;
}

.form-create-post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
